      <div class="row">
        <div class="col-md-12">
<p id="legal-notice"><strong>Cookies</strong>: Com que sembla que ara cal posar una advertència
sobre les cookies
aquí va: Aquesta web, per si mateixa, no posa cap tipus de cookie, PERÒ es probable
que GitHub o Google (pel Google Analytics) o qualsevol altre intermediari les
posi. Així que si no voleu Cookies ja saveu el que heu de fer...</p>
        </div>
      </div> <!-- /container -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

{% include google-analytics.html %}
  </body>
</html>
