      <div class="row">
        <div class="col-md-12">
<div  class="alert alert-info" role="alert" id="legal-notice">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span></button>
<a href="http://ca.wikipedia.org/wiki/Galeta_%28inform%C3%A0tica%29" hreflang="ca">
<strong>Cookies</strong></a>: Com que sembla que ara cal posar una
advertència sobre les cookies aquí va: Aquesta web, que jo sàpiga, no posa cap
tipus de cookie per si mateixa, PERÒ es probable que GitHub o Google Analytics
o qualsevol altre intermediari les posi. Així que si no voleu Cookies
ja saveu el que heu de fer...</div> <!-- /legal-notice -->
        </div> <!-- /col-md-12 -->
      </div> <!-- /row -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

{% include google-analytics.html %}
  </body>
</html>
