<h1>Enllaços</h1>

<p><img src="http://world.std.com/~reinhold/die236.gif" style="width: 2em;
height: 2em; float: left; margin: 0 1ex 1ex 0;">
<a href="diceware.com.ca.html" hreflang="ca">Traducció</a> de la
<a href="http://world.std.com/~reinhold/diceware.html"><strong>pàgina
original</strong></a> d'<a href="http://world.std.com/~reinhold/" hreflang="en"><strong>A. G.
Reinhold</strong></a>. </p>

<p><img src="imgs/GitHub-Mark-32px.png" alt="" style="width: 2em; height: 2em;
float: left; margin: 0 1ex 1ex 0;"
/> Projecte <a href="https://github.com/Jautenim/diceware-cat" hreflang="ca">Diceware-cat</a>
de <a href="https://github.com/Jautenim" href="ca">Jautenim</a></p>

<h1>Descàrregues</h1>

<a href="https://github.com/thomedes/diceware.cat/raw/master/num-daus-i-paraules.txt"
  hreflang="ca">Llista de paraules de Diceware.cat</a>

<hr />

<p><img src="imgs/GitHub-Mark-32px.png" alt="" style="width: 2em; height: 2em;
float: left; margin: 0 1ex 1ex 0;"
/> Projecte allotjat a <a href="https://github.com/thomedes/diceware.cat" hreflang="ca">
GitHub</a></p>

<hr />

<p lang="en">Diceware is a trademark of A G Reinhold.</p>

<p>&copy; Toni Homedes i Saun </p>

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
<img alt="Llicència de Creative Commons" style="border-width:0"
  src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
  <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Diceware.cat</span>
  de <a xmlns:cc="http://creativecommons.org/ns#" href="http://diceware.cat/"
  property="cc:attributionName" rel="cc:attributionURL">Toni Homedes i Saun</a>
  està subjecta a una llicència de <a rel="license"
  href="http://creativecommons.org/licenses/by-sa/4.0/">Reconeixement-CompartirIgual
  4.0 Internacional de Creative Commons</a><br />Creat a partir d'una obra disponible
  a <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/thomedes/diceware.cat"
  rel="dct:source">https://github.com/thomedes/diceware.cat</a>
