<h1>Enllaços</h1>
<p><img src="http://world.std.com/~reinhold/die236.gif" style="width: 2em;
height: 2em; float: left; margin: 0 1ex 1ex 0;">
<a href="diceware.com.ca.html">Traducció</a> de la
<a href="http://world.std.com/~reinhold/diceware.html"><strong>pàgina
original</strong></a> d'<a href="http://world.std.com/~reinhold/"><strong>A. G.
Reinhold</strong></a>. </p>

<p><img src="imgs/GitHub-Mark-32px.png" alt="" style="width: 2em; height: 2em;
float: left; margin: 0 1ex 1ex 0;"
/> Projecte allotjat a <a href="https://github.com/thomedes/diceware.cat">
GitHub</a></p>
