<h1>Enllaços</h1>

<p><img src="http://world.std.com/~reinhold/die236.gif" style="width: 2em;
height: 2em; float: left; margin: 0 1ex 1ex 0;">
<a href="diceware.com.ca.html" hreflang="ca">Traducció</a> de la
<a href="http://world.std.com/~reinhold/diceware.html"><strong>pàgina
original</strong></a> d'<a href="http://world.std.com/~reinhold/" hreflang="en"><strong>A. G.
Reinhold</strong></a>. </p>

<p><img src="imgs/GitHub-Mark-32px.png" alt="" style="width: 2em; height: 2em;
float: left; margin: 0 1ex 1ex 0;"
/> Projecte <a href="https://github.com/Jautenim/diceware-cat" hreflang="ca">Diceware-cat</a>
de <a href="https://github.com/Jautenim" href="ca">Jautenim</a></p>

<h1>Descàrregues</h1>

<a href="https://github.com/thomedes/diceware.cat/raw/master/num-daus-i-paraules.txt"
  hreflang="ca">Llista de paraules de Diceware.cat</a>

<hr />

<p><img src="imgs/GitHub-Mark-32px.png" alt="" style="width: 2em; height: 2em;
float: left; margin: 0 1ex 1ex 0;"
/> Projecte allotjat a <a href="https://github.com/thomedes/diceware.cat" hreflang="ca">
GitHub</a></p>
